@font-face {
    font-family: "openDyslexic";
    src: url('https://raw.githubusercontent.com/asrccp/Font/0cb57dfca15fd8485cb195dc8bd73fa0eb97b65d/fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #DDD;
}

tr:hover {
  background-color: #ffcffe;
}

tr:focus {
  background-color: #f8c0ff;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
	'table of food sources'
    'footer';
  background-color: rgb(247, 163, 229);
  gap: 10px;
}

header {
  background-color: #731576;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 193, 242);
}

section {
  display: grid;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  vertical-align: middle;
}

p {
  font-family: "openDyslexic", Arial;
  font-size: 20px;
  color: #000000;
}

.cred {
  font-family: "openDyslexic", Arial;
  font-size: 15px;
  color: #6c6c6c;
}

a.cred {
  font-family: "openDyslexic", Arial;
  font-size: 15px;
  color: #606060;
}

a.cred:hover {
  color: #313131;
}

.txt {
  font-family: "openDyslexic", Arial;
  font-size: 20px;
  text-align: left;
  color: #272727;
}

a.txt {
  font-family: "openDyslexic", Arial;
  font-size: 25px;
  color: #2b2b2b;
}

a.txt:hover {
  font-family: "openDyslexic", Arial;
  font-size: 25px;
  color: #000000;
  transition: opacity 2s ease-in;
}

footer {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-family: "openDyslexic", Arial;
  background-color: #000000;
  padding: 1.5%;
}


